# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# MAC
*.DS_Store

# Primary data. IRB approval needed - see README
SAfrica/data_clean/RSTR_SA_counts_voom.csv
SAfrica/data_clean/RSTR_SA_dat_clean.RData
SAfrica/data_raw/2020.11.05SA.RSTR_Hawn_metadata.csv
SAfrica/data_raw/Hawn_SAMacrophage_counts.rds
SAfrica/data_raw/Hawn_SAMacrophage_counts.txt
Uganda/data_clean/RSTR_RNAseq_data_combined_clean.RData
Uganda/data_clean/RSTR_RNAseq_data_combined_uniqueFULLID.RData
Uganda/data_raw/2020.11.20RSTR_Hawn_metadata.csv
Uganda/data_raw/combatSeq.counts.RData
Uganda/data_raw/Hawn_UgandaMacrophage_counts.csv
Uganda/data_raw/Hawn_UgandaMacrophage_counts.tsv
Uganda/data_raw/Hawn_UgandaValidation_counts.csv
Uganda/data_raw/Hawn_UgandaValidation_counts.tsv
Uganda/data_raw/kinship_Hawn_all.csv
Uganda/data_raw/scBatch.counts.RData
